Configuration
=============

Enforcer rule `${project.artifactId}` has the following configuration parameters:

* `<includes>`

Include these projects. Default: include every project.

Example:

    <includes>
        <include>project-subroot-*</include>
        <include>${project.groupId}:project-thing:war</include>
    </includes>

* `<excludes>`

Exclude these projects. If both `<includes>` and `<excludes>` are defined,
then `<includes>` are used to filter in, and then `<excludes>` are excluded from
those already picked.

    <excludes>
        <exclude>project-excluded</exclude>
        <exclude>${project.groupId}:project-subroot-*</exclude>
        <exclude>${project.groupId}:project-thing:war</exclude>
    </excludes>

* `<includeRootProject>`

Default: false

Set to true to include the root project in the dependencies.

    <includeRootProject>true</includeRootProject>

* `<errorIfUnknownProject>`

Default: false

If there is a full project name (groupId and artifactId) in includes or excludes,
and that project is not among the
[Maven reactor](https://maven.apache.org/guides/mini/guide-multiple-modules.html)
projects, break build with an error.
This will prevent outdated configuration.

    <errorIfUnknownProject>true</errorIfUnknownProject>
